* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-details {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  max-width: 30%;
}

.photo {
  max-width: 100%;
  border-radius: 10px;
}

.info {
  padding: 3rem;
}

.info-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.bold {
  font-weight: bold;
}

.breeds-ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-height: 40%;
  max-width: 80%;
}

.filter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.breeds {
  font-size: 1.2rem;
  border: 0;
  background: none;
  cursor: pointer;
}
.breeds:hover {
  background: #e1e1e1;
}

.spacer {
  height: 2vh;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.title-m {
  font-size: 1.4rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.button-back {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  text-decoration: none;
}

.button-filter {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.button-filter:hover {
  background-color: rgb(33, 33, 33);
}

@media screen and (max-width: 759px) {
  .container-details {
    flex-direction: column-reverse;
  }

  .photo-container {
    max-width: 80%;
  }

  .button-back {
    padding: 1rem 3rem;
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }
}
